body {
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	box-sizing: border-box;
}

@media screen 
	and (min-width: 640px)
  	and (max-width: 1600px)
{
	h1 {
		text-align: center;
		font-size: 50px;
		margin-top: 30px;
		margin-bottom: 30px;
		color:#338BB5;
	}

	.rules {
		width: 50%;
		padding: 20px;
		margin: 10px;
		line-height: 2;
		font-size: 12px;
		background-color: #C1C1C1;
		float: left;
	}

	#givenNumber {
		font-size: 70px;
		color: #2A51A2;
		text-align: center;
		padding-top: 35px;
	}

	#wins {
		box-sizing: border-box;
		float: left;
		font-size: 30px;
		color: #464646;
		text-align: center;
		width: 45%;
		padding: 30px;
	}

	#losses {
		box-sizing: border-box;
		float: right;
		font-size: 30px;
		color: #464646;
		text-align: center;
		width: 45%;
		padding: 30px;
	}

	.gemsrow {
		clear: both;
	}

	.gems {
		text-align: center;
		width: 50%;
		float: left;
	}
	
	button {
		width: 20%;
	}
	
	img {
		width: 100%;
	}

	#totalScore {
		float: left;
		font-size: 40px;
		color: #2A51A2;
		text-align: center;
		padding-top: 35px;
		padding-left: 35px;
	}
	
	#total {
		font-size: 40px;
		color: #2A51A2;
		text-align: center;
		padding-top: 35px;
	}
}

@media screen and (max-width:640px) {
	h1 {
		text-align: center;
		font-size: 40px;
		background-color: #DAFF9B;
		padding-top: 15px;
		padding-bottom: 15px;
		color:#338BB5;
		border-bottom: 3px solid #ffffff;
	}

	.rules {
		box-sizing: border-box;
		width: 100%;
		padding: 10px;
		line-height: 2;
		font-size: 9px;
		background-color: #FFCC36;
	}

	#givenNumber {
		width: 100%;
		font-size: 50px;
		color: #2A51A2;
		text-align: center;
		padding-top: 25px;
	}

	#wins {
		float: left;
		font-size: 20px;
		color: #464646;
		text-align: center;
		width: 50%;
		margin-top: 10px;
		margin-bottom: 25px;
		background-color: #DAFF9B;
		padding: 10px 0px 10px 0px;
		
	}

	#losses {
		float: right;
		font-size: 20px;
		color: #464646;
		text-align: center;
		width: 50%;
		margin-top: 10px;
		margin-bottom: 25px;
		background-color: #DAFF9B;
		padding: 10px 0px 10px 0px;
	}

	.gemsrow {
		clear: both;
	}

	.gems {
		text-align: center;
		width: 100%;
	}
	
	button {
		width: 20%;
	}
	
	img {
		width: 100%;
	}
	
	#totalScore {
		float: left;
		font-size: 30px;
		color: #2A51A2;
		text-align: center;
		padding-top: 35px;
		padding-left: 35px;
	}
	
	#total {
		font-size: 30px;
		color: #2A51A2;
		text-align: center;
		padding-top: 35px;
	}
}